.profileWrapper{
    display: flex;
    flex-direction: column;
}

.profileContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    width: 210px;
    height: 215px;
    margin-bottom: 10px;
}

.profileImage{
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 195px;
    max-width: 100%;
}

.profileRotating{
    z-index: 2;
    position: absolute;
    bottom: -150px;
    left: 50%;
    animation: App-logo-spin infinite 50s linear;
}

.profileGradient {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 170px;
    background: linear-gradient(#08c8f6, #4d5dfb);
}

@keyframes App-logo-spin {
    from {
        transform: translate(-50%,0) rotate(0deg);
    }
    to {
        transform: translate(-50%,0) rotate(360deg);
    }
  }

.profileTitle{
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 10px;
}

.profileSubtitle{
    color: #fff;
    font-size: .8em;
    font-weight: 300;
}