.list{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.item{
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid #808080;
    background-color: rgba(187, 187, 187, 0.05);
    border-radius: 10px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: all;
    width: 100%;
    padding-bottom: 100%;
    transition: all .1s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.item:hover{
    background-color: rgba(187, 187, 187, 0.2);
}

.mounted{
    visibility: visible;
    opacity: 1;
}

.widgetIcon{
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}