.button{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 45px;
    padding: 0 50px;
    margin-top: 50px;
    align-self: center;
    -webkit-appearance: none;
    background: linear-gradient(to left, #08c8f6, #4d5dfb);
    color: #fff;
    text-transform: uppercase;
    font-size: .9em;
    border: 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transform: scale(1);
    transition: all .1s ease-in-out;
}

.button:hover{
    transform: scale(1.1);
}